<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>238194152930-v1dhnnf2le74119a6473kmdi70npcl94.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.238194152930-v1dhnnf2le74119a6473kmdi70npcl94</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>238194152930-ojnlvmrapd3abhd1marldd6le358uhus.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAZPuS1Xc-BgnTwNfZQ3uT8GIs7SL_uEDY</string>
	<key>GCM_SENDER_ID</key>
	<string>238194152930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterNhuNguyen.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-e-book-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-e-book-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:238194152930:ios:1a74dce1838a7418c8d5bb</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-e-book-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>